<div layout="column" class="loginContainer">
    <!-- Content. -->
    <md-content layout="row" flex>
        <div flex layout="column" layout-align="center center">
            <!-- Login header -->
            <section class="loginHeader" layout="column" layout-align="center center">
                <img layout-margin class="logoHeader" src="../assets/images/logo-header-negro.png">
                <h2 hide-xs class="md-title" layout="row" layout-align="center center">
                    <span flex="60">{{ 'LOGIN_SUBTITLE' | translate }}</span>
                </h2>
            </section>

            <!-- Login content -->
            <div layout="row" layout-align="center center">
                <md-card layout="column" md-whiteframe="4" flex>
                    <md-progress-linear md-mode="indeterminate" ng-disabled="!$ctrl.viewData.inProgress"></md-progress-linear>
                    <form name="$ctrl.form" novalidate layout-padding layout="column">

                        <div class="md-body-1" layout="column" layout-align="start start">{{ 'LOGIN_LABEL_FORM' | translate }}</div>

                        <div layout="row">
                            <!-- username input -->
                            <md-input-container flex>
                                <label>{{ 'LOGIN_USERNAME' | translate }}</label>
                                <input name="username" type="text" ng-model="$ctrl.model.username" required />
                                <div ng-messages="$ctrl.form.username.$error">
                                    <div ng-message="required">{{ 'LOGIN_ERR_USER_REQUIRED' | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>


                        <div layout="row" layout-align="start center">
                            <!-- password input -->
                            <md-input-container flex ng-hide="$ctrl.viewData.revealPassword">
                                <label>{{ 'LOGIN_PASSWORD' | translate }}</label>
                                <input name="password" type="password" ng-model="$ctrl.model.password" required>

                                <div ng-messages="$ctrl.form.password.$error">
                                    <div ng-message="required">{{ 'LOGIN_ERR_PASS_REQUIRED' | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex ng-if="$ctrl.viewData.revealPassword" md-is-error="$ctrl.form.password.$invalid && $ctrl.form.password.$touched">
                                <label>{{ 'LOGIN_PASSWORD' | translate }}</label>
                                <input name="passwordRevealed" type="text" ng-model="$ctrl.model.password" required class="ngTouched" />
                                <div class="md-input-messages-animation">
                                    <div class="md-input-message-animation ng-animate" ng-if="$ctrl.form.password.$error.required && $ctrl.form.password.$touched">copiaaaaaaaa {{ 'LOGIN_ERR_PASS_REQUIRED' | translate }}</div>
                                </div>
                            </md-input-container>

                            <div flex="0">
                                <md-icon md-colors="{color: 'primary-300'}" class="icon-view-password" ng-mousedown="$ctrl.setRevealPass($event)" ng-mouseup="$ctrl.setRevealPass($event)"
                                    ng-mouseleave="$ctrl.setRevealPass($event)">remove_red_eye</md-icon>
                            </div>
                        </div>

                        <div layout="row" layout-xs="column">

                            <!-- Remember text -->
                            <div layout="row" layout-align="start center" layout-margin>
                                <md-checkbox aria-label="checkbox rememberme" ng-model="$ctrl.model.rememberUser" class="md-primary">
                                    {{ 'LOGIN_REMEMBER_TEXT' | translate }}
                                </md-checkbox>
                            </div>

                            <!-- login button -->
                            <div layout="row" flex layout-align="end center" flex-order-xs="-1">
                                <md-button flex-xs="100" type="submit" class="md-raised md-primary" ng-click="$ctrl.login()" ng-disabled="!$ctrl.isFormValid()">
                                    <span>{{ 'LOGIN_BUTTON' | translate }}</span>
                                </md-button>
                            </div>

                        </div>

                        <!-- Password recovery -->
                        <div layout="column" layout-align="center end">
                            <md-button ui-sref="app.auth.passwordResetRequest" class="md-primary">{{ 'LOGIN_PASSWORD_RECOVERY' | translate }}</md-button>
                        </div>
                    </form>
                </md-card>
            </div>

            <div layout="row" layout-align="center center">
                <p class="md-body-1" layout-padding>{{ 'LOGIN_REGISTER_QUESTION' | translate }}</p>
                <md-button md-no-ink ng-disabled="true" class="md-primary">{{ 'LOGIN_REGISTER_TEXT' | translate }}</md-button>
            </div>

            <ul layout="row" layout-align="center center">

                <li class="iconSocialItem">
                    <a href="https://www.facebook.com/robot-framework_angular-material" target="_blank">
                    <img layout-padding src="assets/images/redes-fb.jpg" alt="facebook icon" />
                </a>
                </li>
                <li class="iconSocialItem">
                    <a href="https://twitter.com/robot-framework_angular-material" target="_blank">
                    <img layout-padding src="assets/images/redes-tw.jpg" alt="twitter icon" />
                </a>
                </li>
                <li class="iconSocialItem">
                    <a href="http://www.linkedin.com/company/robot-framework_angular-material" target="_blank">
                    <img layout-padding src="assets/images/redes-in.jpg" alt="Linked In icon" />
                </a>
                </li>
                <li class="iconSocialItem">
                    <a href="https://plus.google.com/+robot-framework_angular-materialAr" target="_blank">
                    <img layout-padding src="assets/images/redes-go.jpg" alt="Google plus icon" />
                </a>
                </li>
            </ul>
        </div>
        <div md-colors="{background: 'primary-300'}" flex="40" layout="column" layout-align="center center" hide-sm hide-xs>
            Publicidad de la empresa
        </div>
    </md-content>
</div>