login{
    .loginContainer{
        min-height:100% !important;
        height: auto !important;
    
        .loginHeader{
            text-align:center;
        }

        md-card{
            width:500px !important;

            .icon-view-password {
                cursor:pointer;
                position:relative;
                bottom:10px;
                right:25px;
                font-size:large;
            }
        }
    }
    
}