<!-- Header. -->
<md-toolbar class="md-hue-2" md-whiteframe="4" layout="row" layout-padding layout-align="none center">
    <img class="logoHeader" src="../assets/images/logo-header-blanco.png">
</md-toolbar>

<!-- Content. -->
<div flex layout="column">
    <md-content flex layout="column">
        <div class="passwordResetRequestContainer" flex layout="row" layout-align="center center" layout-align-xs="center start">
            <md-card md-whiteframe="4" layout="column">
                <md-progress-linear md-mode="indeterminate" ng-disabled="!$ctrl.viewData.inProgress"></md-progress-linear>
                <form name="$ctrl.form" layout-margin novalidate>
                    <div layout="column">
                        <h1 class="md-title">{{ 'PASSWORD_RESET_REQUEST_TITLE' | translate }}</h1>

                        <div class="md-body-1 clarificationForm">{{ 'PASSWORD_RESET_REQUEST_SUBTITLE' | translate }}</div>

                        <!-- username input -->
                        <md-input-container flex>
                            <label>{{ 'PASSWORD_RESET_REQUEST_USERNAME' | translate }}</label>
                            <input name="username" type="text" ng-model="$ctrl.model.username" required>
                            <div ng-messages="$ctrl.form.username.$error">
                                <div ng-message="required">{{ 'PASSWORD_RESET_REQUEST_ERR_REQUIRED' | translate }}</div>
                            </div>
                        </md-input-container>

                        <!-- password reset request button -->
                        <div layout="row" layout-wrap layout-align="end center">
                            <md-button type=" submit" flex-xs="100" layout-align="center center" class="md-raised md-primary" ng-click="$ctrl.passwordResetRequest()"
                                ng-disabled="!$ctrl.isEnableForm()">
                                <span>{{ 'PASSWORD_RESET_REQUEST_BUTTON' | translate }}</span>
                            </md-button>
                        </div>
                    </div>
                </form>
            </md-card>
        </div>
    </md-content>
</div>