password-reset-request{
    
    md-toolbar {
        min-height: 55px!important;
        padding: 0!important;

        .logoHeader {
            padding: 12px !important;
        }
    }
    
    .passwordResetRequestContainer{
        min-height:100% !important;
        height: auto !important;
    }

    md-card{
        width: 500px !important;

        .clarificationForm{
            margin-bottom:10px;
        }
    }
}
