<!-- Content. -->
<div class="changePasswordContainer" layout="column" layout-align="center center" layout-align-xs="start center">
    <div layout="row">
        <md-card md-whiteframe="4" flex>
            <md-progress-linear md-mode="indeterminate" ng-disabled="!$ctrl.viewData.inProgress"></md-progress-linear>
            <form name="$ctrl.form" layout-margin novalidate>
                <div layout="column">
                    <h1 class="md-title">{{ 'CHANGE_PASSWORD_TITLE' | translate }}</h1>

                    <!-- oldPassword input -->
                    <div layout="row" layout-align="start center">
                        <md-input-container flex ng-hide="$ctrl.viewData.reveal.oldPassword" md-is-error="$ctrl.hasErrorInOldPassword()">
                            <label>{{ 'CHANGE_PASSWORD_OLD_PASSWORD' | translate }}</label>
                            <input name="oldPassword" type="password" ng-model="$ctrl.model.oldPassword" ng-model-options="{ allowInvalid: true }" required>
                            <div ng-messages="$ctrl.form.oldPassword.$error">
                                <div ng-message="required">{{ 'CHANGE_PASSWORD_ERR_OLDPASS_REQUIRED' | translate }}</div>
                            </div>
                            <div ng-messages="$ctrl.errors" role="alert" md-auto-hide="false" ng-show="$ctrl.form.oldPassword.$valid">
                                <div ng-message="invalid-credentials">{{ 'CHANGE_PASSWORD_ERR_INVALID_CREDENTIALS' | translate : { value: 6 } }}</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex ng-show="$ctrl.viewData.reveal.oldPassword">
                            <label>{{ 'CHANGE_PASSWORD_OLD_PASSWORD' | translate }}</label>
                            <input name="oldPasswordRevealed" type="text" required ng-model="$ctrl.model.oldPassword" ng-model-options="{ allowInvalid: true }">
                        </md-input-container>
                        <div flex="0">
                            <md-icon md-colors="{ color : 'primary-300'}" class="icon-view-password" ng-mousedown="$ctrl.toggleRevealOldPassword($event)"
                                ng-mouseup="$ctrl.toggleRevealOldPassword($event)" ng-mouseleave="$ctrl.toggleRevealOldPassword($event)">remove_red_eye</md-icon>
                        </div>
                    </div>

                    <!-- newPassword input -->
                    <div layout="row" layout-align="start center">
                        <md-input-container flex ng-hide="$ctrl.viewData.reveal.newPassword" md-is-error="$ctrl.hasErrorInNewPassword()">
                            <label>{{ 'CHANGE_PASSWORD_NEW_PASSWORD' | translate }}</label>
                            <input name="newPassword" type="password" ng-model="$ctrl.model.newPassword" ng-model-options="{ allowInvalid: true }" required
                                maxlength="120" minlength="6">
                            <div ng-messages="$ctrl.form.newPassword.$error">
                                <div ng-message="required">{{ 'CHANGE_PASSWORD_ERR_NEWPASS_REQUIRED' | translate }}</div>
                                <div ng-message="minlength">{{ 'MINLENGTH' | translate : { value: 6 } }}</div>
                            </div>

                            <div ng-messages="$ctrl.errors" role="alert" md-auto-hide="false" ng-show="$ctrl.form.newPassword.$valid">
                                <div ng-message="minlength">{{ 'MINLENGTH' | translate : { value: 6 } }}</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex ng-show="$ctrl.viewData.reveal.newPassword">
                            <label>{{ 'CHANGE_PASSWORD_NEW_PASSWORD' | translate }}</label>
                            <input name="newPasswordRevealed" type="text" required minlength="6" ng-model="$ctrl.model.newPassword" ng-model-options="{ allowInvalid: true }">
                        </md-input-container>
                        <div flex="0">
                            <md-icon md-colors="{ color : 'primary-300'}" class="icon-view-password" ng-mousedown="$ctrl.toggleRevealNewPassword($event)"
                                ng-mouseup="$ctrl.toggleRevealNewPassword($event)" ng-mouseleave="$ctrl.toggleRevealNewPassword($event)">remove_red_eye</md-icon>
                        </div>
                    </div>

                    <!-- confirmation input -->
                    <div layout="row" layout-align="start center">
                        <md-input-container flex ng-hide="$ctrl.viewData.reveal.confirmation" md-is-error="$ctrl.hasErrorInConfirmation()">
                            <label>{{ 'CHANGE_PASSWORD_CONFIRMATION' | translate }}</label>
                            <input name="confirmation" ng-paste="$ctrl.noPaste($event)" type="password" ng-model="$ctrl.model.confirmation" required>
                            <div ng-messages="$ctrl.form.confirmation.$error">
                                <div ng-message="required">{{ 'CHANGE_PASSWORD_ERR_CONFIRM_REQUIRED' | translate }}</div>
                            </div>
                            <div ng-messages="$ctrl.errors" role="alert" md-auto-hide="false" ng-show="$ctrl.form.confirmation.$valid">
                                <div ng-message="not-matching-password">{{ 'CHANGE_PASSWORD_ERR_NOT_MATCH' | translate }}</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex ng-show="$ctrl.viewData.reveal.confirmation">
                            <label>{{ 'CHANGE_PASSWORD_CONFIRMATION' | translate }}</label>
                            <input ng-touched name="confirmationRevealed" type="text" required ng-model="$ctrl.model.confirmation">
                        </md-input-container>

                        <div flex="0">
                            <md-icon md-colors="{ color : 'primary-300'}" class="icon-view-password" ng-mousedown="$ctrl.toggleRevealConfirmation($event)"
                                ng-mouseup="$ctrl.toggleRevealConfirmation($event)" ng-mouseleave="$ctrl.toggleRevealConfirmation($event)">remove_red_eye</md-icon>
                        </div>
                    </div>
                    <!-- changePassword button -->
                    <div layout="row" layout-wrap layout-align="end center">
                        <md-button type="submit" flex-xs="100" layout-align="center center" class="md-raised md-primary" ng-click="$ctrl.changePassword()"
                            ng-disabled="!$ctrl.isEnableForm()">
                            <span>{{ 'CHANGE_PASSWORD_BUTTON' | translate }}</span>
                        </md-button>
                    </div>
                </div>
            </form>
        </md-card>
    </div>
</div>