change-password{

    .changePasswordContainer{
        min-height:100% !important;
        height: auto !important;
    }

    md-card{
        width: 500px !important;

        .icon-view-password {
            font-size: large !important;
            cursor:pointer;
            position:relative;
            bottom:8px;
            right:25px;
        }
    }
}