<!-- Header. -->
<md-toolbar class="md-hue-2" md-whiteframe="4" layout="row" layout-padding layout-align="none center">
    <md-button ng-click="$ctrl.toggleLeftMenu()" class="md-icon-button">
        <md-icon>menu</md-icon>
    </md-button>
    <img class="logoHeader" src="../assets/images/logo-header-blanco.png">
    <div class="userButtons" flex layout="row" layout-align="end center">
        <md-button aria-label="Open user menu" class="md-icon-button notification-icon" ng-click="$mdOpenMenu($event)">
            <md-tooltip>
                {{ 'MAIN_NOTIFICATIONS' | translate }}
            </md-tooltip>
            <md-icon>notifications_none</md-icon>
        </md-button>
        <md-menu md-position-mode="target bottom">
            <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon>account_circle</md-icon>
                <md-tooltip class="tooltip-multiline">
                    <ul class="infoProfileMenu">
                        <li>{{ $ctrl.model.user.fullName }}</li>
                        <li>{{ $ctrl.model.user.email }}</li>
                        <li><b>{{ $ctrl.model.user.companyName }}</b></li>
                    </ul>
                </md-tooltip>
            </md-button>
            <md-menu-content layout="column">
                <md-menu-item>
                    <md-button ng-click="$ctrl.changeState()" ui-sref="{{$ctrl.viewData.states.changePassword}}">
                        <md-icon>fingerprint</md-icon>
                        {{ 'MAIN_CHANGE_PASSWORD' | translate }}
                    </md-button>

                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.changeState()" ui-sref="{{$ctrl.viewData.states.login}}">
                        <md-icon>exit_to_app</md-icon>
                        {{ 'MAIN_LOGOUT' | translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear>    -->
 <div layout="row" flex>
    <div layout="column">
        <md-sidenav class="md-whiteframe-1dp" md-is-open="$ctrl.viewData.isOpen" md-is-locked-open="$ctrl.isLocked()" flex layout="column"
            md-component-id="{{$ctrl.model.id}}" class="md-sidenav-left">
            <md-content flex layout="column">
                <md-list>
                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active" ui-sref="{{$ctrl.viewData.states.changePassword}}">
                        <md-icon md-font-set=""><i class="material-icons">fingerprint</i></md-icon>
                        <p class="md-body-2">{{ 'MAIN_CHANGE_PASSWORD' | translate }}</p>
                    </md-list-item>

                    <md-list-item ng-click="$ctrl.logout()" ui-sref-active="active" ui-sref="{{$ctrl.viewData.states.login}}">
                        <md-icon><i class="material-icons">exit_to_app</i></md-icon>
                        <p class="md-body-2">{{ 'MAIN_LOGOUT' | translate }}</p>
                    </md-list-item>

                    <md-divider></md-divider>

                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active" ng-disabled="true">
                        <md-icon>directions_car</md-icon>
                        <p class="md-body-2">{{ 'MAIN_NEW_BOOKING' | translate }}</p>
                    </md-list-item>

                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active" ng-disabled="true">
                        <md-icon>event</md-icon>
                        <p class="md-body-2">{{ 'MAIN_MY_BOOKINGS' | translate }}</p>
                    </md-list-item>

                    <md-divider></md-divider>

                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active" ui-sref="{{$ctrl.viewData.states.main}}">
                        <md-icon>home</md-icon>
                        <p class="md-body-2">{{ 'MAIN_HOME' | translate }}</p>
                    </md-list-item>

                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active">
                        <md-icon>mode_comment</md-icon>
                        <p class="md-body-2">{{ 'MAIN_CONTACT' | translate }}</p>
                    </md-list-item>

                    <md-list-item ng-click="$ctrl.changeState()" ui-sref-active="active" ui-sref="{{$ctrl.viewData.states.automatization}}">
                        <md-icon>android</md-icon>
                        <p class="md-body-2">{{ 'MAIN_AUTOMATIZATION' | translate }}</p>
                    </md-list-item>
                </md-list>

                <div class="versionContainer" flex layout-align="end start" layout="column" layout-margin>
                    <span class="md-body-2">{{ 'MAIN_VERSION' | translate }} {{$ctrl.model.version}}</span>
                </div>
            </md-content>
        </md-sidenav>
    </div> 
    <div flex layout="column">
        <md-content ui-view="content" flex layout="column">
            <div flex layout="column" layout-padding>
                HOME PARA MAIN
            </div>
        </md-content>
    </div>
</div>