main {
    md-toolbar {
        min-height: 55px!important;
        padding: 0!important;
        
        .logoHeader {
            padding: 12px !important;
        }
        
        .userButtons {
            
            md-menu {
                margin: 0px !important;
                padding: 0px !important;
            }

            .md-button {
                margin: 0px !important;
                padding: 0px !important;
            }
        }
    }

    md-sidenav {
        transition: 0.2s all;
        width: 260px;

        &.md-closed.md-locked-open-add {
            width: 0 !important;
            min-width: 0 !important;
            transform: translate3d(0%, 0, 0); }
    
        &.md-closed.md-locked-open-add-active {
            transition: width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), min-width 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
            width: 220px;
            min-width: 220px;
            transform: translate3d(0%, 0, 0);
    
        }

        md-list {
            width: 100%;

            padding-top:0px !important;

            md-list-item.active {
                background-color: #f5f5f5 !important;
            }

            md-list-item:hover {
                background-color: #EEEEEE !important;
            }

            md-list-item{
                cursor:pointer;
                

                p{
                    white-space: nowrap;
                    font-size:13px !important;
                }

                a:hover,.md-button:hover{
                    background-color:transparent !important;
                }

                md-icon{
                    color:#616161 !important;
                    opacity: .8;
                    font-size: 20px !important;
                    width: 20px !important;
                    min-width: 20px !important;
                    height: 20px !important;
                    min-height: 20px !important;
                    margin: 0px 16px 0px 0px !important;
                }
            }
        }
        .versionContainer{
            margin-top:50px;
            
            span{
                white-space: nowrap;
                font-size:13px !important;
            }
        }
    }
}

body {
    .infoProfileMenu {
        line-height: 15px;
    }
}