<div layout-padding>
    <div layout="column">
        <h1>Automatization</h1>

        <div layout="row" layout-margin>
            <md-autocomplete placeholder="Nombre de la persona" md-match-case-insensitive md-no-asterisk flex="50" md-min-length="3"
                md-selected-item="$ctrl.model.selectedNameAutocomplete" md-search-text="$ctrl.model.searchTextNameAutocomplete"
                md-items="name in $ctrl.searchNames($ctrl.model.searchTextNameAutocomplete)" md-item-text="name">
                <md-item-template>
                    <span md-highlight-text="$ctrl.model.searchTextNameAutocomplete">{{name}}</span>
                </md-item-template>
                <md-not-found>
                    No se encontraron resultados.
                </md-not-found>
            </md-autocomplete>
            <span layout-padding>{{$ctrl.model.selectedNameAutocomplete}}</span>
        </div>

        <div layout="row" layout-margin>
            <md-autocomplete placeholder="Ciudad" md-no-asterisk flex="50" md-min-length="3" md-selected-item="$ctrl.model.selectedCityAutocomplete"
                md-search-text="$ctrl.model.searchTexCityAutocomplete" md-items="city in $ctrl.searchCities($ctrl.model.searchTexCityAutocomplete)"
                md-item-text="city.name + ' - ' + city.country">
                <md-item-template>
                    <span md-highlight-text="$ctrl.model.searchTextAutocomplete">{{city.name}} - {{city.country}}</span>
                </md-item-template>
                <md-not-found>
                    No se encontraron resultados.
                </md-not-found>
            </md-autocomplete>
            <span ng-if="$ctrl.model.selectedCityAutocomplete != null" layout-padding>{{$ctrl.model.selectedCityAutocomplete.name}} - {{$ctrl.model.selectedCityAutocomplete.country}}</span>
        </div>

        <div layout="row" layout-align="space-between center">
            <md-checkbox flex ng-model="$ctrl.model.checkboxValue" ng-true-value="'Esta clickeado'" ng-false-value="'NO esta clickeado'"
                aria-label="Checkbox">
                Checkbox Value
            </md-checkbox>
            <span flex="40" class="md-body-2">{{$ctrl.model.checkboxValue}}</span>
        </div>

        <div layout="row" layout-align="space-between center">
            <md-checkbox flex ng-model="$ctrl.model.checkboxBoolean" aria-label="Checkbox">
                Checkbox Booleano (Habilita primer slider)
            </md-checkbox>
            <span flex="40" class="md-body-2">{{$ctrl.model.checkboxBoolean}}</span>
        </div>

        <md-slider-container layout="row" ng-disabled="!$ctrl.model.checkboxBoolean">
            <md-slider flex="50" ng-model="$ctrl.model.slider" aria-label="red" id="slider">
            </md-slider>
            <md-input-container>
                <input flex type="number" ng-model="$ctrl.model.slider" aria-label="slider" aria-controls="slider">
            </md-input-container>
        </md-slider-container>

        <md-slider-container layout="row" ng-disabled="$ctrl.model.checkboxBoolean">
            <md-slider md-invert flex="50" ng-model="$ctrl.model.slider" aria-label="red" step="2" id="sliderInvert">
            </md-slider>
            <md-input-container>
                <input flex type="number" ng-model="$ctrl.model.slider" aria-label="sliderInvert" aria-controls="sliderInvert">
            </md-input-container>
        </md-slider-container>

        <md-slider-container layout="row">
            <md-slider flex="50" min="50" max="200" ng-model="$ctrl.model.sliderMinMax" aria-label="sliderMin" id="sliderMin">
            </md-slider>
            <md-input-container>
                <input flex type="number" ng-model="$ctrl.model.sliderMinMax" aria-label="sliderMin" aria-controls="sliderMin">
            </md-input-container>
        </md-slider-container>

        <div layout="row">

            <md-slider flex="50" md-colors="{color:'green'}" flex md-discrete ng-model="$ctrl.model.sliderRange" step="2" min="0" max="10"
                aria-label="sliderRange">
            </md-slider>
        </div>

        <md-switch ng-model="$ctrl.model.switchValue" aria-label="Switch" ng-true-value="'Habilitado'" ng-false-value="'Deshabilitado'"
            class="md-warn">
            {{ $ctrl.model.switchValue }}
        </md-switch>

        <div layout="row" layout-align="space-between center">
            <md-select flex ng-model="$ctrl.model.selectedCountry" placeholder="Paises" class="md-no-underline" required>
                <md-option ng-repeat="country in $ctrl.model.countries" value="{{country}}">{{country}}</md-option>
            </md-select>
            <span flex="50">{{$ctrl.model.selectedCountry}}</span>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Ciudades de {{$ctrl.model.selectedCountry}}</label>
                <md-select ng-model="$ctrl.model.selectedCity" multiple>
                    <!-- <md-optgroup label="Ciudades {{$ctrl.model.selectedCountry}}"> -->
                    <md-option ng-repeat="city in $ctrl.model.cities | filter: {country: $ctrl.model.selectedCountry }" ng-value="city">{{city.name}}</md-option>
                    <!-- </md-optgroup> -->
                </md-select>
            </md-input-container>

            <div layout-padding flex="50">
                <span ng-repeat="city in $ctrl.model.selectedCity">{{city.name}}<span ng-if="!$last">, </span></span>
            </div>
        </div>

        <div layout="row" layout-align="space-between start">
            <md-datepicker flex="50" ng-model="$ctrl.model.date" md-placeholder="Seleccione un dia habil" md-date-filter="$ctrl.notWeekendsPredicate"></md-datepicker>
            <span layout-padding flex="50">{{$ctrl.model.date | date}}</span>
        </div>

        <div layout="row">
            <form name="postalForm" flex="50">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="$ctrl.model.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5"
                        ng-model-options="{ allowInvalid: true }">

                    <div ng-messages="postalForm.postalCode.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Debe ingresar el código postal.</div>
                        <div ng-message="pattern" class="my-message">No es un código postal válido.</div>
                        <div ng-message="md-maxlength" class="my-message">Código posta demasiado largo.</div>
                    </div>
                </md-input-container>
            </form>
            <span layout-padding>{{$ctrl.model.postalCode}}</span>
        </div>

        <div layout="row">
            <md-input-container flex="50" class="md-block">
                <label>Ingrese una descripción</label>
                <textarea ng-model="$ctrl.model.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <span flex layout-padding>{{$ctrl.model.description}}</span>
        </div>

        <div layout="row">
            <form name="emailForm" flex="50" layout="row">
                <md-input-container flex class="md-block">
                    <md-icon class="material-icons">email</md-icon>
                    <input name="email" ng-model="$ctrl.model.email" type="email" placeholder="Ingrese su email" ng-required="true">
                    <div ng-messages="emailForm.email.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Debe ingresar el código postal.</div>
                        <div ng-message="email" class="my-message">No es un email válido.</div>
                    </div>
                </md-input-container>
            </form>
            <span layout-padding>{{$ctrl.model.email}}</span>
        </div>

        <div layout="row" layout-align="space-around center">
            <md-button class="md-raised md-primary" ng-click="$ctrl.showToast('success')">
                Mostrar Toast Success
            </md-button>

            <md-button class="md-raised" ng-click="$ctrl.showToast('info')">
                Mostrar Toast Info
            </md-button>

            <md-button class="md-raised md-warn" ng-click="$ctrl.showToast('warning')">
                Mostrar Toast Warning
            </md-button>

            <md-button class="md-raised md-accent" ng-click="$ctrl.showToast('error')">
                Mostrar Toast Error
            </md-button>

            <md-button class="md-raised md-primary" ng-click="$ctrl.showDialog()">
                Mostrar Dialog
            </md-button>
        </div>
    </div>
</div>