body{

    .progressCircularContainer {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;

        .progressCircular {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #212121;
            -webkit-border-radius: 50%;
            /* Chrome, Opera 15+, Safari 3.1+ */
            -moz-border-radius: 50%;
            /* Firefox 3.5+ */
            -ms-border-radius: 50%;
            /* IE 9 */
            border-radius: 50%;
            /* Opera 10.5+ */
            width: 60px;
            height: 60px;
            -webkit-animation: spin 1s linear infinite;
            /* Chrome, Opera 15+, Safari 3.1+ */
            -moz-animation: spin 1s linear infinite;
            /* Firefox 3.5+ */
            -ms-animation: spin 1s linear infinite;
            /* IE 9 */
            -o-animation: spin 1s linear infinite;
            /* Opera 10.5+ */
            animation: spin 1s linear infinite;
            margin: 0 auto;
        }
    }
    
    *:focus {
        outline:0;
    }

    ul{
        list-style-type: none;
        padding: 0px;
    }

    md-dialog {
        max-width: 400px;
    }

    md-tooltip{

        &.tooltip-multiline {
            height: auto;
        }
    }

    md-toast.success .md-toast-content {
        background-color: #4CAF4F;
    }

    md-toast.info .md-toast-content {
        background-color: #2196F3;
    }

    md-toast.warning .md-toast-content {
        background-color: #FFEE58;
        color:#000;
    }

    md-toast.error .md-toast-content {
        background-color: #F44336;
    }
}
@-webkit-keyframes spin /* Chrome, Opera 15+, Safari 3.1+ */ {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(0deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -o-transform: rotate(0deg);
        /* Opera 10.5+ */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */ }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(360deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -o-transform: rotate(360deg);
        /* Opera 10.5+ */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-moz-keyframes spin /* Firefox 3.5+ */ {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(0deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -o-transform: rotate(0deg);
        /* Opera 10.5+ */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */ }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(360deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -o-transform: rotate(360deg);
        /* Opera 10.5+ */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-ms-keyframes spin /* IE 9 */ {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(0deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -o-transform: rotate(0deg);
        /* Opera 10.5+ */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */ }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(360deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -o-transform: rotate(360deg);
        /* Opera 10.5+ */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin /* Opera 10.5+ */ {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(0deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -o-transform: rotate(0deg);
        /* Opera 10.5+ */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -moz-transform: rotate(360deg);
        /* Firefox 3.5+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -o-transform: rotate(360deg);
        /* Opera 10.5+ */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    } 
}