<!DOCTYPE html>
<html lang="es" ng-strict-di>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <title></title>
        <!-- Framwork styles -->
        <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic' />
        <link rel="stylesheet" type="text/css" href="common.css" />
        <!-- angular-material -->
        <link rel="stylesheet" type="text/css" href="vendor/angular-material/angular-material.css" />
        <link rel="stylesheet" type="text/css" href="vendor/angular-material-icons/angular-material-icons.css" />
        <!-- Aplication styles -->
        <style type="text/css">
            [ng\:cloak],
            [ng-cloak],
            [data-ng-cloak],
            [x-ng-cloak],
            .ng-cloak,
            .x-ng-cloak {
                display: none !important;
            }
        </style>
        <!-- Framwork script -->
        <script type="text/javascript" src="vendor/systemjs/system.js"></script>
        <script type="text/javascript" src="system.config.js"></script>
    </head>

    <body ng-cloak layout="column">
        <div class="progressCircularContainer" ng-if="false">
            <div class="progressCircular"></div>
        </div>
        <div ui-view flex layout="column"></div>
        <script type="text/javascript" src="loader.js"></script>
    </body>

</html>